In [4]:
.width = 0
height = 0
color = "red"
emphasis = "strong"

if width == 0 and height == 0 and color == 'red' and emphasis == 'strong' or highlight > 100:
    print ('sorry, you lose.')

sorry, you lose.

In [6]:
print('Hello')

Hello

In [8]:
num = int(input('input an integer: '))

input an integer:  2

In [16]:
PI = 3.14
radius = float(input("Enter the radius: "))
circum = PI * radius * radius
area = 2.0 * PI * radius

print("radius of the circle" , radius)
print("area of the circle ", circum)
print("circumference of the circle" , area)

Enter the radius:  4

radius of the circle 4.0
area of the circle  50.24
circumference of the circle 25.12

In [21]:
type(100)

int

In [22]:
type(100.0)

float

In [25]:
type("100")

str

In [26]:
type(10 + 3j)

complex

In [9]:
type(10 + 3 )

complex

In [32]:
python = ("my hello world", + 10)
print(python)

('my hello world', 10)

In [3]:
5 // 3

1

In [4]:
10**3

1000

In [5]:
9 % 5

4

In [6]:
(3 + 4j) * (5 + 2j)

(7+26j)

In [7]:
(3 + 4j) / (5 + 2j)

(0.793103448275862+0.48275862068965514j)

In [9]:
print("hello" + " world")

hello world

In [18]:
print("\"double quotation marks\"")

"double quotation marks"

In [16]:
print("\'single quotation marks\'")

'single quotation marks'

In [19]:
print("line\nbreak")

line
break

In [24]:
import keyword

# search for python keywords
print("python keyword list...")
print(keyword.kwlist)

python keyword list...
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [25]:
num = 85
print(type(num))

p1 = 3.14159
print(type(p1))

message = "Good morning"
print(type(message))

<class 'int'>
<class 'float'>
<class 'str'>

In [1]:
n = 4
print('\n' .join('*'* i for i in range(0,n+1)))

*
**
***
****

In [56]:
print("    *\n   ** \n  *** \n ****")

    *
   **
  ***
 ****

In [22]:
n = int(input("Enter an integer: "))
if n / 2 == 0:
    print("Is the integer odd: False")
else:
    print("Is the integer odd: True")

Enter an integer:  21

Is the integer odd: True

In [32]:
n = int(input("Enter an integer: "))
result = n %2 != 0
print(result)

Enter an integer:  20

False

In [63]:
# Check if the year is a leap year
year = int(input("enter year: "))
result = str(year % 4 == 0)
if result == "True":
    print("leap year baiby!")
else:    
     print("Ain't a leap year")

enter year:  2006

Ain't a leap year

In [1]:
# Calculate the area and circumference
p1 = 3.141592
r = int(input("enter radius: "))
circum = 2 * p1 * r 
area = p1 * r**2
print (circum)
print(area)

enter radius:  11

69.115024
380.132632

In [9]:
n = int(input("enter integer: "))
result = n % 2 == 0 and n > 0 <= 100 
print(result)

enter integer:  12

True

In [11]:
print('aaa' in 'aaa-bbb-ccc')
print('bbb' in 'aaa-bbb-ccc')
print('ddd' in 'aaa-bbb-ccc')

True
True
False

In [14]:
# Give a discount to under 20's
age = int(input("Enter age: "))
if age <20:
          print("Youth discount")
print("Welccome")

Enter age:  18

Youth discount
Welccome

In [16]:
# Using the split method
str1 = input("enter three integers divided by space: ")
print("input: ",str1)
print("input seperated by split() method: ", str1.split())

enter three integers divided by space:  10 20 30

input:  10 20 30
input seperated by split() method:  ['10', '20', '30']

In [55]:
# Sorting  age groups
age = int(input("Enter the age: "))
if age >= 20:
          print("Adult")
if age >= 10 and age  < 20: 
            print("Youth")
if age < 10:
             print("Kid")

Enter the age:  13

Youth

In [2]:
# Distinguish natural numbers
x = int(input("Enter an integer between -100 and 100: "))
if 0 < x <= 100 :
        print(x,"is a natural number")
if -100 <= x < 0:
    print("x =",x)

Enter an integer between -100 and 100:  56

56 is a natural number

In [4]:
# The penalty shoot-out game
import random

n = random.randint(1,3) #randomly generates numbers among 1,2,3
if n == 1:
    computer_choice ="left"
elif n == 2:
    computer_choice ="middle"
else:
    computer_choice = "right"

user_choice = input("which side will you attack?(left,middle,right):" ).lower()
if computer_choice == user_choice:
    print("offense failed")
else:
    print("congtrats!! Offense succeeded.")
print("computer defense position:",computer_choice)

which side will you attack?(left,middle,right): left

congtrats!! Offense succeeded.
computer defense position: right

In [8]:
# TIME GREETINGS
t = int(input("enter the time in hours:"))
if  t < 1200:
            print("good morning")
elif t <= 1500:
              print("good afternoon")
elif t <= 1800:
                print("good evening")
elif t <= 2400:
                print("good night")
else:  
    print("out of time")

enter the time in hours: 1500

good afternoon

In [5]:
# FRUIT PURCHASE
print(">>SELECT<<The fruit types are:\n 1.Apple\n 2.Grape\n 3.Melon\n 4.Orange.")
fruit = input(">>>>PLEASE ENTER THE FRUIT NAME ONLY<<<<: ").lower()

if fruit == "apple":
    price = 50
elif fruit == "grape":
    price = 60
elif fruit == "melon":
    price = 80
elif fruit == "orange":
    price = 20
else:
    print("Your selection is not available at the moment")
    
while fruit != "apple" and fruit != "grape" and fruit != "melon" and fruit != "orange":
    fruit = input("^^Please enter fruit from the menu above^^").lower()
    

print("fruit selected: ",fruit)
print("price:", price)

count = int(input("How many " + str(fruit) +"s are you taking? "))

print("Quantity: ",count)
print("Total price is", price * count,"Shillings.")

money = int(input("Insert money please(ex: 15000) >>>"))

while money < price * count:
    print("Not enough money!")
    money = int(input("Insert enough money please>>>"))
    
change = money - price * count
print(money,"Shillings received. Your change is",change, "Shillings.")

>>SELECT<<The fruit types are:
 1.Apple
 2.Grape
 3.Melon
 4.Orange.

>>>>PLEASE ENTER THE FRUIT NAME ONLY<<<<:  apple

fruit selected:  apple
price: 50

How many apples are you taking?  2

Quantity:  2
Total price is 100 Shillings.

Insert money please(ex: 15000) >>> 500

500 Shillings received. Your change is 400 Shillings.

In [245]:
# ENTER LOGIN DETAILS
my_id = "i lovepython"
password = "my pass1234"
string1 = input("Enter ID: ")
string2 = input("Enter password: ")
if string1 == my_id and string2 == password:
    print("Welcome!")   
elif string1 != my_id:
    print("ID not found.")
else:
    print("The password is wrong.")

Enter ID:  i lovepython
Enter password:  my pass1234

Welcome!

In [48]:
# INTEGER ATHRITHMETIC  OPERATIONS
x = int(input(" 1)Addition 2)subraction 3)Multiplication 4)Division:\nEnter operation number"))
if x in range (1,5):
    first_num = int(input("Enter 1st integer: "))
    sec_num = int(input("Enter 2nd integer: "))
    if x == 1:
        result = first_num + sec_num
        print(first_num, "+", sec_num)
        print("Result = ",result)
    elif x == 2:
        result = first_num - sec_num
        print(first_num, "-" ,sec_num)
        print("Result = ",result)
    elif x == 3:
        result = first_num * sec_num
        print(first_num, "*",sec_num)
        print("Result = ",result)
    else:
        result = first_num / sec_num
        print(first_num, "/", sec_num)
        print("Result = ",result)
else:
    print("You entered the wrong operation number!")

 1)Addition 2)subraction 3)Multiplication 4)Division:
Enter operation number 5

You entered the wrong operation number!

In [28]:
# LOGIN DETAILS
print("Enter your login details")
user_name = "tokyo"
password = "3456"
un = input("Enter your username: ")
pa = input("Enter the password: ")
if un != user_name:
    print("User not recognized")
elif pa != password:
    print("Incorrect password,Try again")
else:
    print("WELCOME!")

Enter your login details

Enter your username:  tokyo
Enter the password:  3456

WELCOME!

In [17]:
# VOWEL OR A CONSONANT
letter = input("enter any letter: ").lower()
if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
    print("is a vowel")
else: 
    print(letter,"is a consonant")

enter any letter:  A

is a vowel

In [14]:
# FINDING MUTIPLES
integer_a = int(input("Enter integer a: "))
integer_b = int(input("Enter integer b: "))
if integer_a % integer_b == 0:
                print(integer_a,"is  a mutiple of ",integer_b)
else:
    print(integer_a,"is not a mutiple of" , integer_b)

Enter integer a:  100
Enter integer b:  20

100 is  a mutiple of  20

In [7]:
# COORDINATES QUADRANT
x = int(input("x coordinate: ")) 
y = int(input("y coordinate: "))
if x > 0 and y > 0:
    print("1st quadrant")
elif x < 0 and y > 0 :
    print("2nd quadrant")
elif x < 0 and y < 0:
    print("3rd quadrant")
elif x > 0 and y < 0 :
    print("4th quadrant")
else:
    print("Not recognised!")

x coordinate:  4
y coordinate:  7

1st quadrant

In [34]:
# YUMMY RESTAURANT
print("Here is the menu for yummy restaurant")
order = input("burger(enter b)\nChicken(enter c)\nPizza(enter p)\nChoose a menu(enter b,c,p): ").lower()

while order != "b" and order != "c" and order != "p":
    order = input("Please choose the menu again (enter b,c,p): ").lower() 

if order == "b":
    print("You chose Burger!")
elif order == "c":
    print("You chose chicken!")
elif order == "p":
    print("You chose pizza!")
else:
    print("Enter the menu again")

Here is the menu for yummy restaurant

burger(enter b)
Chicken(enter c)
Pizza(enter p)
Choose a menu(enter b,c,p):  k
Please choose the menu again (enter b,c,p):  5
Please choose the menu again (enter b,c,p):  c

You chose chicken!

In [23]:
# DAVID'S SANDWICH  COMBINATIONS
breads = ["Rye bread" , "Wheat" , "White"]
meats = ["Meatball" ,"Sausage" , "Chicken breast"]
vegis = ["Lettuce" , "Tomato" , "Cucumber"]
sauces = ["Mayonnaise" , "Honey Mustard" , "Chili"]

print("Possible combinations of David's sandwich shop")
for b in breads:
    for m in meats:
        for v in vegis:
            for s in sauces:
                print(b+ " + "+ m+ " + "+ v+ " + "+ s)

Possible combinations of David's sandwich shop
Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey Mustard
Rye bread + Meatball + Lettuce + Chili
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey Mustard
Rye bread + Meatball + Tomato + Chili
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey Mustard
Rye bread + Meatball + Cucumber + Chili
Rye bread + Sausage + Lettuce + Mayonnaise
Rye bread + Sausage + Lettuce + Honey Mustard
Rye bread + Sausage + Lettuce + Chili
Rye bread + Sausage + Tomato + Mayonnaise
Rye bread + Sausage + Tomato + Honey Mustard
Rye bread + Sausage + Tomato + Chili
Rye bread + Sausage + Cucumber + Mayonnaise
Rye bread + Sausage + Cucumber + Honey Mustard
Rye bread + Sausage + Cucumber + Chili
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey Mustard
Rye bread + Chicken breast + Lettuce + Chili
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey Mustard
Rye bread + Chicken breast + Tomato + Chili
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey Mustard
Rye bread + Chicken breast + Cucumber + Chili
Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey Mustard
Wheat + Meatball + Lettuce + Chili
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey Mustard
Wheat + Meatball + Tomato + Chili
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey Mustard
Wheat + Meatball + Cucumber + Chili
Wheat + Sausage + Lettuce + Mayonnaise
Wheat + Sausage + Lettuce + Honey Mustard
Wheat + Sausage + Lettuce + Chili
Wheat + Sausage + Tomato + Mayonnaise
Wheat + Sausage + Tomato + Honey Mustard
Wheat + Sausage + Tomato + Chili
Wheat + Sausage + Cucumber + Mayonnaise
Wheat + Sausage + Cucumber + Honey Mustard
Wheat + Sausage + Cucumber + Chili
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey Mustard
Wheat + Chicken breast + Lettuce + Chili
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey Mustard
Wheat + Chicken breast + Tomato + Chili
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey Mustard
Wheat + Chicken breast + Cucumber + Chili
White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey Mustard
White + Meatball + Lettuce + Chili
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey Mustard
White + Meatball + Tomato + Chili
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey Mustard
White + Meatball + Cucumber + Chili
White + Sausage + Lettuce + Mayonnaise
White + Sausage + Lettuce + Honey Mustard
White + Sausage + Lettuce + Chili
White + Sausage + Tomato + Mayonnaise
White + Sausage + Tomato + Honey Mustard
White + Sausage + Tomato + Chili
White + Sausage + Cucumber + Mayonnaise
White + Sausage + Cucumber + Honey Mustard
White + Sausage + Cucumber + Chili
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey Mustard
White + Chicken breast + Lettuce + Chili
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey Mustard
White + Chicken breast + Tomato + Chili
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey Mustard
White + Chicken breast + Cucumber + Chili

In [16]:
# WELCOME ITERATION
for i in range(5):
    print(i,"welcome")

0 welcome
1 welcome
2 welcome
3 welcome
4 welcome

In [17]:
print(list(range(0, 5, 1)))

[0, 1, 2, 3, 4]

In [18]:
print(list(range(0, 5, 2)))

[0, 2, 4]

In [19]:
print(list(range(2,5)))

[2, 3, 4]

In [20]:
print(list(range(0, 10 , 2)))

[0, 2, 4, 6, 8]

In [22]:
# SUM OF NUMBERS BETWEEN 1 AND 10
s = 0 
for i in range(1,11):
    print(i)
    s += i
print("sum of numbers between 1 to 10 ", s)

1
2
3
4
5
6
7
8
9
10
sum of numbers between 1 to 10  55

In [31]:
# ITERATING STRINGS
bts = ["v", "J-Hope", "RM", "Jungkook", "Jin", "Jimin", "Suga"]
for n in bts:
    print(n)

v
J-Hope
RM
Jungkook
Jin
Jimin
Suga

In [1]:
# SUM OF NUMBERS BETWEEN 1 AND 100
n = int(input("enter the end  number: "))
s = 0
for n in range(1 , n + 1):
    s = s + n
print(s)

enter the end  number:  100

5050

In [29]:
#SUM OF EVEN NUMBERS FROM 0 TO 100
n = int(input("enter the end number: "))
s = 0
for n in range(0,n+1,2):
    s += n
print("Sum of even numbers from 0 to 100 = ",s)

enter the end number:  100

Sum of even numbers from 0 to 100 =  2550

In [50]:
#CALCULATING AREA AND CIRCUMFERENCE OF A CIRCLE 
pi = 3.14
r= int(input("Enter radius: "))
a= pi * r**2
circum = 2 * pi * r
print ("area = ",a,"and circumference = ",circum)

Enter radius:  5

area =  78.5 and circumference =  31.400000000000002

In [2]:
# FRUIT PURCHASE PROGRAM

order = input("choose fruit:\n 1) apple\n 2) banana\n 3) grape\n 4) orange  ").lower()
if order == "apple":
    cost = 300
elif order == "banana":
    cost =50
elif order == "grape":
    cost = 200
elif order == "orange":
    cost = 100
else:
    print("Not available")
    

print("The cost is ",cost,"per ",order)
quantity = int(input("How many "+ order +"s are you taking? "))
total = cost * quantity
print("The total cost is ",total," Shillings")
cash =int(input("Please insert your money above^^^"))

if cash < total:
          print("Not enough money!")
else:
    change = cash - total
    print("Received ",cash," shillings your balance is ",change," shillings")

choose fruit:
 1) apple
 2) banana
 3) grape
 4) orange   apple

The cost is  300 per  apple

How many apples are you taking?  3

The total cost is  900  Shillings

Please insert your money above^^^ 1000

Received  1000  shillings your balance is  100  shillings

In [6]:
# FACTORIALS
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n+1):
    fact = fact * i
print(str(n)+'! =',fact)

Enter a number:  5

5! = 120

In [7]:
# LIST ITERATION
numbers = [11, 22, 33, 44, 55, 66]
for n in numbers:
    print("n = ", n)

n =  11
n =  22
n =  33
n =  44
n =  55
n =  66

In [8]:
#SUM IN A LIST
numbers = [10, 20, 30, 40, 50]
print("sum = ", sum(numbers))

sum =  150

In [9]:
# STRING TO LIST
st = "hello"
print(list(st))

['h', 'e', 'l', 'l', 'o']

In [2]:
# THE END FUNCTION
for ch in "Hello":
    print(ch, end = ' * ')

H * e * l * l * o *

In [5]:
print("My name is", end = ' - ')
print("teueeu")

My name is - teueeu

In [20]:
print('s', 'e', 'p', sep = '-')

s-e-p

In [8]:
print("Hello", "World!",sep = '-')

Hello-World!

In [ ]:
print("Hello I will Introduce myself.")

In [32]:
n = int(input("Enter the end value: "))
s = 0
for n in range(1,n+1,2):
    s += n
print("Sum of odd numbers",s)

Enter the end value:  100

Sum of odd numbers 2500

In [6]:
s = int(input("Enter the start value: "))
e = int(input("Enter the end value: "))
r = int(input("Enter the steps after values: "))
t = 0
for f in range(s, e+1, r):
    t += f
print("sum of odd numbers = ",t)

Enter the start value:  1
Enter the end value:  100
Enter the steps after values:  2

sum of odd numbers =  2500

In [44]:
string = "ehehehhfr"
print(list(string))

['e', 'h', 'e', 'h', 'e', 'h', 'h', 'f', 'r']

In [45]:
print("my name is ",end =' : ')
print("yegeuhdw,end ")

my name is  : yegeuhdw,end

In [46]:
for ffrf in "ddehfeh":
    print(ffrf)

d
d
e
h
f
e
h

In [49]:
print('d','j','e','iji','e', sep =' : ')

d : j : e : iji : e

In [3]:
numbers = range(1,101,2)
print("sum = ",sum(numbers))

sum =  2500

In [5]:
t = 0
n = int(input("enter the end value: "))
for e in range(1, n+1,2):
    t += e
print(t)

enter the end value:  100

2500

In [103]:
n = int(input("enter n: "))
t = 0
for e in range(1,n+1):
    t += 1
    print(t)

enter n:  5

1
2
3
4
5

In [97]:
t = 0
n = int(input("enter n: "))
seats = n * n
for e in range (1, seats + 1):
    t += 1
    if t <= 5:
        print("",str(t),end = ' ')
    elif e <= 10:
        print(str(t),"\n", end = ' ')
    elif e <= 15:
        print(str(t),end = ' ')
    elif e <= 20:
        print(str(t),"\n",end = ' ')
    else:
        print(str(t), end =' ')
print()

enter n:  5

 1  2  3  4  5 6
 7
 8
 9
 10
 11 12 13 14 15 16
 17
 18
 19
 20
 21 22 23 24 25

In [14]:
n = int(input("enter n: "))
seats = n * n
for i in range(1,6):
    for x in range(7,10):

enter n:  5

1 7
1 8
1 9
2 7
2 8
2 9
3 7
3 8
3 9
4 7
4 8
4 9
5 7
5 8
5 9

In [10]:
x = float(input("Enter x coordinate: "))
y = float(input("Enter y cooredinate: "))
if x > 0 and y > 0:
    print("first quater")
elif x > 0 and y < 0:
    print("second quater")
elif x < 0 and y < 0:
    print("third quater")
elif x < 0 and y > 0:
    print("fourth quater")
else:
    print("Something went wrong!")

Enter x coordinate:  5
Enter y cooredinate:  5

first quater

In [3]:
i = 0
while i < 5:
    print("welcome to everyone")
    i += 1

welcome to everyone
welcome to everyone
welcome to everyone
welcome to everyone
welcome to everyone

In [7]:
n = int(input("Enter a number to sum upto : "))
s = 0
i = 1
while i <= n:
    s += i
    i +=1
print("sum of 1 to {} is {}".format(n,s))

Enter a number to sum upto :  5

sum of 1 to 5 is 15

In [18]:
i = 1
while i > 6 :
    print(i)
    if i == 3:
        break
    i += 1

In [25]:
t = int(input("Enter end value: ")) + 1
i = 0
n = 2
while i <= t:
    i += 1
    r = n * i
    print("{} x {} = {:2d} ".format(n, i, r))

Enter end value:  10

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

In [8]:
n = -1
while n <= 0: #input() repeated until positive value is entered
    n = int(input("Enter a positive number to sum up to: "))
s = 0
for i in range(1, n+1):
    s = s + i
print("sum of 1 to {} is {}".format(n,s))

Enter a positive number to sum up to:  5

sum of 1 to 5 is 15

In [5]:
#*****WITH LOGICAL ERROR*****
x = 1
n= int(input("Enter a number to sum up to: "))
s = 0
for i in range(1, n+1):
    s = s + i
print("sum of {} to {} is {}" .format(x, n, s))

Enter a number to sum up to:  5

sum of 1 to 5 is 15

In [6]:
t = int(input("Enter start value: "))
n = int(input("Enter end value: "))
s = 0
while n < 0:
    n = int(input("please enter a positive end value: "))
for i in range(t, n+1):
    s += i
print(s)

Enter start value:  1
Enter end value:  5

15

In [14]:
import random as rd  #ABBREVIATION
print(rd.random())  #returns a random real
print(rd.randrange(1,7))  #returns an integer greater than or equal to 1 and less than 7.
print(rd.randrange(0,10,2)) #returns a mutiple of 2 of integers greater than or equal to 0 and less than 10.
print(rd.randint(1,10))  # returns an arbirary integer greater or equal to 1 and less than or equal to 10.

0.5022028956804138
2
0
10

In [17]:
numlist = [10 , 20, 30 , 40, 50]
rd.shuffle(numlist)
print(numlist)

print(rd.choice(numlist))
print(rd.sample(numlist, 3))

[50, 10, 40, 30, 20]
30
[10, 50, 40]

In [22]:
a = list(range(1,11)) #returns integer from 1 to 10
print(a)
rd.shuffle(a)  # randomly mixes them
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 2, 3, 1, 8, 6, 9, 4, 5, 7]

In [23]:
import random as rd

a = list(range(1,11))
b = rd.sample(a,3)
print("Arbitrary integer between 1 to 10: ",b)

Arbitrary integer between 1 to 10:  [1, 8, 4]

In [79]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
prime = []
for i in range(1,20):
    itis = True
    for num in range(2,i):
        if i % num == 0:
            itis = False
if itis == True:
    print(prime.append(i))
else:
    print("no")

None

In [3]:
count = int(input("enter starting value: ")) + 1
while count > 1:
    count -= 1
    print(count)
print("Liftoff!")

enter starting value:  10

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [9]:
st = "programming"
# function of executing only whe it is consonant
for ch in st:
    if ch in ['a', 'e', 'i', 'o', 'u']:
        break #end the loop if it is a vowel
    print(ch)
print("the end")

p
r
the end

In [8]:
st = "programming"
# function of executing only when it is consonant
for ch in st:
    if ch in ['a', 'e', 'i', 'o', 'u']:
        continue #skip if it is a vowel
    print(ch)
print("the end")

p
r
g
r
m
m
n
g
the end

In [1]:
for i in range(1, 10):     #outer for loop
    for j in range(1,10):    #inner for loop
        print("{}x{} = {:2d},  " .format(i, j, i *j),end = ' ')
    print()          #executes inner loop and change line

1x1 =  1   1x2 =  2   1x3 =  3   1x4 =  4   1x5 =  5   1x6 =  6   1x7 =  7   1x8 =  8   1x9 =  9
2x1 =  2   2x2 =  4   2x3 =  6   2x4 =  8   2x5 = 10   2x6 = 12   2x7 = 14   2x8 = 16   2x9 = 18
3x1 =  3   3x2 =  6   3x3 =  9   3x4 = 12   3x5 = 15   3x6 = 18   3x7 = 21   3x8 = 24   3x9 = 27
4x1 =  4   4x2 =  8   4x3 = 12   4x4 = 16   4x5 = 20   4x6 = 24   4x7 = 28   4x8 = 32   4x9 = 36
5x1 =  5   5x2 = 10   5x3 = 15   5x4 = 20   5x5 = 25   5x6 = 30   5x7 = 35   5x8 = 40   5x9 = 45
6x1 =  6   6x2 = 12   6x3 = 18   6x4 = 24   6x5 = 30   6x6 = 36   6x7 = 42   6x8 = 48   6x9 = 54
7x1 =  7   7x2 = 14   7x3 = 21   7x4 = 28   7x5 = 35   7x6 = 42   7x7 = 49   7x8 = 56   7x9 = 63
8x1 =  8   8x2 = 16   8x3 = 24   8x4 = 32   8x5 = 40   8x6 = 48   8x7 = 56   8x8 = 64   8x9 = 72
9x1 =  9   9x2 = 18   9x3 = 27   9x4 = 36   9x5 = 45   9x6 = 54   9x7 = 63   9x8 = 72   9x9 = 81

In [24]:
#negative range
for s in range (1000,100,-50):
    print(s)

1000
950
900
850
800
750
700
650
600
550
500
450
400
350
300
250
200
150

In [44]:
n = int(input("Enter number: "))
for i in range(1,n+1):
    for i in range(1, i+1):
        print(i, end= " ")
    print()

Enter number:  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [21]:
n = int(input("enter the end value: "))
for t in range(1,n+1):
    for p in range(2,int(t/2)+1):
        if t % p == 0:
            break
    else:   
        print(t,end = ' ')

enter the end value:  100

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [34]:
string = input("enter anything: ")
for i in string[::-1]:
    print(i)

enter anything:  qwerty

y
t
r
e
w
q

In [50]:
num = int(input("enter any number: "))
t == num
while t < 0:
    q = int(t)//10
    r = t % 10
print(q)

enter any number:  253

25.3

In [47]:
t = 253//10
print(t)

25

In [10]:
import calendar

year = int(input("Enter year: "))  
month = int(input("Enter month: "))

cal = calendar.month(year, month)

print(cal)

Enter year:  2024
Enter month:  8

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [18]:
try:
    a, b = input("Enter two integers: ").split()
    result = int(a) / int(b)
    print("{}/{} = {}".format(a,b,result))

except:
    print("Check if integers are correctly entered.")

Enter two integers:  10 0

Check if integers are correctly entered.

In [29]:
person1 = ["David Doe", 20, 1, 180.0, 100.0]
person2 = ["John Smith", 25, 1, 170.0, 70.0]
person3 = ["Jane Carter", 22, 0, 169.0, 60.0]
person4 = ["Peter Kelly", 40, 1, 150.0, 50.0]

person_list = person1 + person2 + person3 + person4

n_persons = int(len(person_list) / 5)
age_sum = 0.0
for age in person_list[1::5]:
    age_sum += age
average_age = float(age_sum) / n_persons
print("the average age is " + str(average_age))

the average age is 26.75

In [9]:
#Prime numbers between 1 and 10
n = int(input("Enter end value: ")) + 1
for i in range(1,n):
    for x in range(2,i):
        if i % x == 0:
            break
    else:
        print(i)

Enter end value:  10

1
2
3
5
7

In [15]:
score_list = [87, 84, 95, 67, 88, 94, 63]
score_list

[87, 84, 95, 67, 88, 94, 63]

In [16]:
score_list = [87, 84, 95, 67, 88, 94, 63]
print(score_list[0], score_list[3])

87 67

In [18]:
fruits = ["banana", "apple", "orange", "kiwi"] #list with strings
print(fruits)
mixed_list = [100, 200, "apple", 400]
print(mixed_list)
print(fruits + mixed_list)

['banana', 'apple', 'orange', 'kiwi']
[100, 200, 'apple', 400]
['banana', 'apple', 'orange', 'kiwi', 100, 200, 'apple', 400]

In [20]:
list4 = list(range(1,10))
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
n_list = [11, 22, 33, 44, 55, 66]
print(n_list)
print(len(n_list))

[11, 22, 33, 44, 55, 66]
6

In [23]:
n_list = [11, 22, 33, 44, 55, 66]
n_list[-1]

66

In [24]:
n_list[-2]

55

In [26]:
a_list = ["a", "b", "c", "d", "e"]
a_list.append("f") # Add f
a_list

['a', 'b', 'c', 'd', 'e', 'f']

In [31]:
n_list = [10, 20, 30, 40]
n_list.append(50) #add 50
n_list

[10, 20, 30, 40, 50]

In [36]:
list1 = ["a", "b", "c",]
list2 = [1, 2, 3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

In [37]:
list1.extend("d")
list1

['a', 'b', 'c', 1, 2, 3, 'd']

In [38]:
list1 = [11, 22, 33, 44]
list1.append([55,66])
list1

[11, 22, 33, 44, [55, 66]]

In [39]:
list1 = [11, 22, 33, 44]
list1.extend([55,66])
list1

[11, 22, 33, 44, 55, 66]

In [50]:
list1 = [11, 22, 33, 44]
print(list1)#prints the entire list

del list1[3] #delete 44
print(list1)

[11, 22, 33, 44]
[11, 22, 33]

In [41]:
list1 = [11, 22, 33, 44]
print(list1)

[11, 22, 33, 44]

In [43]:
n = list1.pop()
print("n =",n)
print("list1 = ",list1)

n = 44
list1 =  [11, 22, 33]

In [3]:
list1 = [ 11, 22, 33, 44]
print(list1)

list1.remove(44)
print(list1)

[11, 22, 33, 44]
[11, 22, 33]

In [45]:
a_list = [10, 20 , 30, 40, 50, 60, 70, 80]
a_list[1:5]

[20, 30, 40, 50]

In [46]:
a_list[0:5]

[10, 20, 30, 40, 50]

In [47]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

In [48]:
a_list[:5]

[10, 20, 30, 40, 50]

In [49]:
a_list[:]

[10, 20, 30, 40, 50, 60, 70, 80]

In [1]:
n_list = [10, 20, 30]
print(n_list) #print the entire items

[10, 20, 30]

In [3]:
# DELETE THE LAST ITEM IN THE LIST
n = n_list.pop()
print('n = ',n)
print('n =', n_list)

n =  30
n = [10, 20]

In [4]:
# DELETE A CERTAIN VALUE FROM THE LIST
n_list =[11, 22, 33, 44, 55, 66]
print(n_list)

n_list.remove(44)
print(n_list)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 55, 66]

In [5]:
# SLICING SPECIFIC SECTIONS OF A LIST
a_list = [10, 20, 30, 40, 50, 60, 70, 80]
a_list[1:5]

[20, 30, 40, 50]

In [6]:
a_list[0:5]

[10, 20, 30, 40, 50]

In [7]:
a_list[1:]

[20, 30, 40, 50, 60, 70, 80]

In [8]:
a_list[:5]

[10, 20, 30, 40, 50]

In [9]:
a_list[:]

[10, 20, 30, 40, 50, 60, 70, 80]

In [13]:
# THE IN OPERATOR
a_list = [10, 20, 30, 40]
10 in a_list

True

In [14]:
50 in a_list

False

In [15]:
10 not in a_list

False

In [16]:
50 not in a_list

True

In [20]:
for n in a_list:
    print(n, end =' ')

10 20 30 40

In [22]:
n_list = [11, 22, 33, 44, 55, 66]
if (55 in n_list):
    n_list.remove(55)
if (88 in n_list):
    n_list.remove(88)
print(n_list)

[11, 22, 33, 44, 66]

In [23]:
# TUPULE

colors = ("red", "green", "blue")
colors

('red', 'green', 'blue')

In [24]:
numbers = (1, 2, 3, 4, 5)
numbers

(1, 2, 3, 4, 5)

In [1]:
bts = []
bts.append("v")
bts

['v']

In [2]:
bts = []
bts = bts + ["v"]
bts

['v']

In [3]:
n_list = [200, 700, 500, 300, 400]
len(n_list)

5

In [4]:
max(n_list)

700

In [5]:
min(n_list)

200

In [6]:
sum(n_list)

2100

In [7]:
# AVERAGE
s = sum(n_list)
t = len(n_list)
a = s / t
print(a)

420.0

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
n_list = [200, 700, 500, 300, 400]
a_list = [0,'']

In [10]:
any(n_list)

True

In [13]:
any(a_list)

False

In [15]:
# USING THE INSERT METHOD

slist = ["David", 178.9, "John",173.5, "Jane",176.1]
print(slist)
slist.insert(4,"Peter")
slist.insert(5, 168.1)
print(slist)

['David', 178.9, 'John', 173.5, 'Jane', 176.1]
['David', 178.9, 'John', 173.5, 'Peter', 168.1, 'Jane', 176.1]

In [17]:
bts  = ["V", "J-Hope", "suga", "Jungkook"]
if "suga" in bts:
    bts.remove("suga")
    print(bts)

['V', 'J-Hope', 'Jungkook']

In [18]:
# ASCENDING SORT
list1 = [20, 10, 40, 50, 30]
list1.sort()
list1

[10, 20, 30, 40, 50]

In [19]:
# DESCENDING SORT
list1.sort(reverse = True)
print(list1)

[50, 40, 30, 20, 10]

In [21]:
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [24]:
def myfunc(n):
    return abs(n - 23)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[23, 50, 65, 82, 100]

In [25]:
# SORTING ALPHABETICALLY AND BY SENSITIVE CASE 
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [26]:
# SORTING BY INSENSITIVE CASE
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [27]:
# REVERSE SORTING
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [28]:
# THE COPY METHOD
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [39]:
# USING THE LIST METHOD TO COPY
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [38]:
# JOINING LISTS USING APPEND METHOD
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [43]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.insert(3,x)
print(list1)

['a', 'b', 'c', 3, 2, 1]

In [ ]:


                                                            # DICTIONARIES

In [8]:
# DISPLAYS THE KEY ONLY
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
for x in car:
    print(x)

branch
model
year

In [23]:
# ANOTHER WAY
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
for x in car.keys():
    print(x)

branch
model
year

In [9]:
# DISPLAYS THE VALUES ONLY
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
for x in car:
    print(car[x])

ford
mustang
1964

In [22]:
# ANOTHER WAY
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
for x in car.values():
    print(x)

ford
mustang
1964

In [14]:
# DISPLAYS BOTH KEY AND  VALUES (ITEMS)
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
for x, y in car.items():
    print(x,':',y)

branch : ford
model : mustang
year : 1964

In [15]:
# COPYING ITEMS IN A DICTIONARY
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
car2 = car.copy()
print(car2)

{'branch': 'ford', 'model': 'mustang', 'year': '1964'}

In [18]:
# ANOTHER WAY 
car = {"branch" : "ford", "model" : "mustang","year" : "1964"}
car2 = dict(car)
print(car2)

{'branch': 'ford', 'model': 'mustang', 'year': '1964'}

In [27]:
# A DICTIONARY INSIDE A DICTIONARY
MyFamily = {"child1" : {"name" : "Willy", "Year" : "1999"}, "child2" : {"name" : "Teekay", "Year" : "2000"}}
print(MyFamily)

{'child1': {'name': 'Willy', 'Year': '1999'}, 'child2': {'name': 'Teekay', 'Year': '2000'}}

In [26]:
child1 = {
    "name" : "Emil",
    "Year" : 2004
}
child2 = {
    "name" : "Tobias",
    "Year" : 2007
}
child3 = {
    "name" : "Linus",
    "Year" : 2011
}

MyFamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

print(MyFamily)

{'child1': {'name': 'Emil', 'Year': 2004}, 'child2': {'name': 'Tobias', 'Year': 2007}, 'child3': {'name': 'Linus', 'Year': 2011}}

In [ ]:

                                                    # JSONS

In [30]:
#  CONVERTING JSON TO AN EXECUTABLE PYTHON DICTIONARY
import json
data = '{"name" : "David", "Age" : 25, "Hobby" : ["basketball"],\
"family" : {"father" : "John", "Mother" : "Mary"}, "married" : true}'

json_data = json.loads(data)
print(type(json_data))
print(json_data["name"])
print(json_data["family"])
print(json_data["married"])

<class 'dict'>
David
{'father': 'John', 'Mother': 'Mary'}
True

In [38]:
# CONVERTING PYTHON DICTIONARY TO A JSON
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [39]:
# USING JSON SEPERATORSORS
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [40]:
# ARRANGING AND SORTING JSON CODE
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [36]:
capital_dict = {"KOREA" : "SEOUL", "CHINA" : "BEIJING", "USA" : "WASHINGTON DC"}
print(capital_dict["KOREA"])

SEOUL

In [29]:
population_a = (100, 150, 230, 120, 180, 100, 140, 95, 81, 21, 4)
population_b = (300, 420, 530, 420, 400, 300, 40, 5, 1, 1, 1)
oldA = sum(population_a[7:])
oldB = sum(population_b[7:])
sumA, sumB = sum(population_a), sum(population_b)

oldRateA, oldRateB = oldA / sumA, oldB / sumB

print("the degree of aging in town A and B are {:5.3f} and {:5.3f} respectively.".format(oldRateA, oldRateB))

the degree of aging in town A and B are 0.165 and 0.003 respectively.

In [17]:
list(range(10)) + list(range(10,20))
# SAME AS TUPLE
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6, 7, 8)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [24]:
# MULTIPLYING BOTH LISTS AND TUPLES
ran = list(range(5))*5
print(ran)
#Same as tuple

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [29]:
# COUNTING THE NUMBER OF SPECIFIC ELEMENT
list1 = [11, 11, 11, 22, 33, 11, 44]
print(list1.count(11))
print(len(list1))

4
7

In [10]:
str = "hello"
print(str.count("l"))

2

In [ ]:
# COMPARE LEN AND COUNT
#LEN COUNTS ALL ITEMS
#.COUNT COUNTS SPECIFIC ITEMS

In [30]:
ran = range(0,5,1)
print(list(ran))
ran[4]

[0, 1, 2, 3, 4]

4

In [35]:
# PICKING THE LAST ELEMENT IN THE TUPLE
nations = ["Korea", "China", "Russia", "Malaysia"]
print(len(nations))
print("last element of nations:", nations[len(nations)-2])

4
last element of nations: Russia

In [16]:
# PACKING A TUPLE
a = (1,2)
a[0]

1

In [22]:
# UNPACKING A TUPLE
a = (1,2,3)
(x,y,z) = a
print(z)

3

In [27]:
# SWAPING  VARIABLE ITEMS
a = 100
b = 200
print("before swap: a =", a, " b =", b)
temp = a
a = b
b = temp
print("after swap : a =", a, " b =", b)

before swap: a = 100  b = 200
after swap : a = 200  b = 100

In [ ]:
# TWO DIMENSIONAL LISTS

In [38]:
import random

seat = []

for i in range(3):  # Randomly input occupied/unoccupied seats
    line = []
    for j in range(6):
        rand = random.randrange(0, 2) # use random numbers of 0 and 1
        line.append(rand)
    seat.append(line)

available = 0

for i in range(3):     # Print the seats, and calculate the number of remaining seats
    for j in range(6):
        print(seat[i][j], '',end='')
        if seat [i][j] == 0:
            available += 1
    print()
print("The number of remaining seats in the theater: ",available)

0 0 1 1 0 0
0 1 1 1 1 0
0 1 1 1 0 1
The number of remaining seats in the theater:  8

In [42]:
list_array = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
# FINDING AN ITEM IN TWO DIMENSIONAL LIST USING INDEXING
list_array[0][0]

1

In [44]:
list_array[2][2]

9

In [45]:
# CHANGING SPECIFIC VALUE USING THE INDEX
list_array[1][1] = 300
print(list_array)

[[1, 2, 3], [4, 300, 6], [7, 8, 9]]

In [52]:
# ITERATING THROUGH A TWO DIMENSIONAL LIST
list_array = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for item in list_array:
    print("item =",item)

item = [1, 2, 3]
item = [4, 5, 6]
item = [7, 8, 9]

In [63]:
# NOT PREFERABLE
list_array = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i,j,k in list_array:
    print(i,j,k)

1 2 3
4 5 6
7 8 9

In [6]:
# MOST APPROPRIATE METHOD
list_array = [[1, 2, 3], [4, 5, 6], [7, 8]]
for i in list_array:
    for j in i:
        print(j, end = ' ')
    print()

1 2 3
4 5 6
7 8

In [1]:
# THE ASSIGNMENT SIGN IS USED FOR REFERENCE BUT NOT COPYING 
list_array = [[1, 2, 3,] ,[4, 5, 6,], [7, 8, 9]]
list1 = list_array
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
list1[0][0] = 90 # MAKES CHANGES TO BOTH LISTS
print(list_array)
print(list1)

[[90, 2, 3], [4, 5, 6], [7, 8, 9]]
[[90, 2, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
# USING THE COPY.DEEPCOPY TO CREATE ANOTHER DUPLICATE
import copy
list_array = [[1, 2, 3,], [4, 5, 6,], [7, 8, 9]]
list1 = copy.deepcopy(list_array)
list1[0][0] = 90 # MAKING CHANGES TO THE SECOND LIST
print(list_array)
print(list1)
print(list_array is list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[90, 2, 3], [4, 5, 6], [7, 8, 9]]
False

In [43]:
list1 = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    list1.append(line)

print(list1)

[[0, 0], [0, 0], [0, 0]]

In [43]:
list1 = []
for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    list1.append(line)

print(list1)

[[0, 0], [0, 0], [0, 0]]

In [66]:
list1 = [1, 2, 3, 4, 5]
list2 = []

for i in list1:
    line = []
    for j in range(i):
        line.append(j)        
    list2.append(line)
print(list2)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

In [69]:
print(list(range(i)))

[0, 1, 2, 3, 4]

In [72]:
# JAGGED LIST USING DOUBLE FOR LOOP
list1 = [1, 2, 3, 4, 5]
list2 = []
for i in list1:
    line = []
    for j in range(i):
        line.append(j)
        print(j, end = ' ')   
    list2.append(line)
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [3]:
# DERIVE OUTPUT 30 FROM THE 2 DIMENSIONAL LIST
TwoDimensions = [[10, 20],[30, 40], [50, 60]]
print(TwoDimensions[1][0])

30

In [6]:
# CREATE A 2D LIST 0F 4 * 4 WITH VALUES OF 1 - 16
TwoD = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
for x in TwoD:
    print(*x)

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [6]:
# EASY WAY TO CREATE ROWS AND COLUMNS IN 2D ARRAYS
rows, colums = (4,3)
num = [[0]*colums]*rows
for x in num:
    print(*x)

0 0 0
0 0 0
0 0 0
0 0 0

In [12]:
list1 = []
for i in range(4):
    line = []
    for j in range(3):
        line.append(0)
    list1.append(line)

print(list1)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [17]:
# PRINTING USING INDEX
list_array = [[1,2,3], [4,5,6], [7,8,9]]
for i in range(len(list_array)):
    for j in range(len(list_array[i])):
        print(list_array[i][j], end =' ')
    print()

1 2 3
4 5 6
7 8 9

In [23]:
list1 = [1, 2, 3, 4, 5]
list2 = []
for i in list1:
    line = []
    for j in range(i):
        line.append(j)
    list2.append(line)
    
print(list2)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

In [22]:
list1 = [1, 2, 3, 4, 5]
list2 = []
for i in list1:
    line = []
    for j in range(i):
        line.append(j)
        print(j, end = ' ')
    list2.append(line)
    
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [38]:
import random

list1 = [1, 2, 3, 4, 5]
list2 = []
for i in list1:
    line = []
    for j in range(i):
        line.append(random.randint(1, 100))
    list2.append(line)
    
for i in list2:
    for j in i:
        print(j, end = ' ')
    print()

17
32 28
79 23 100
18 8 70 84
61 83 83 24 14

In [76]:
salesRecord = (100, 121, 120, 130, 140, 120, 122, 123, 190)
reduced = 0
for x in range(1, len(salesRecord)):
    if salesRecord[x] < salesRecord[x -1]:
        reduced += 1
print("In the past 10 days,",reduced,"days had reduced sales compared to the previous day.")

In the past 10 days, 2 days had reduced sales compared to the previous day.

In [ ]:
tuple = (1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9)

In [90]:
list1 = [(), (1,), [], "abc", (), (), (1,), ("a",), ("a", "b"), ((), ), " "]
for x in list1:
    if len(x) != 0:
        print(x, end = '')

(1,)abc(1,)('a',)('a', 'b')((),)